.cocktail-detail-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cocktail-detail {
  margin-top: -100vh;
  background-color: white;
  padding: 20px 60px;
  border-radius: 5px;
}
