.margintop20 {
  margin-top: 20px;
}

.marginbottom20 {
  margin-bottom: 20px;
}

.index_image {
height: calc(100vh - 70px);
background-position: center;
background-size: cover;
}

.index_image .fas {
  font-size: 35px;
  color: white;
  margin-bottom: 20px;
}

.banner_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center
}

.main_text {
  font-family: 'Srisakdi', cursive;
  font-size: 50px;
  color: white;
}

.card-image img {
  height: 50vh;
  width: 100%;
}

.card {
  margin: 20px 0;
  border-radius: 50px;
}

