<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "Final cocktail.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/" class="navbar-wagon-item navbar-wagon-link" style='color: rgb(253, 208, 55); font-weight: lighter;''>Cocktails</a>

    <!-- Profile picture with dropdown list -->
  </div>

</div>
